.content{
    padding: 75px;
}
.mat-elevation-z8{
    border-radius: 10px;
    background-color: #03005E;
    opacity: 0.8;
}
.content > mat-card{
    max-width: 300px;
}
.view{
    background-color: #ffb700;
    border-radius: 35px;
    width: 80px;
    color: #03005E;
}
.view:hover{
    background-color: #FFE9AF;
}
.boundary{
    padding-left: 25px;
    padding-top: 25px;
}
.mat-elevation-z8:hover{
    background-color: #281AA6;
    color: #0B006D;
}


.header{
    position: relative;
    padding-top: 20px;
    list-style-type: none;
    /* padding-right: 75px; */
}
.create{
    position: absolute;
    right: 10px;
    margin-right: 75px;
    background-color: #17089b;
    height: 45px;
    border-radius: 8px;
    
}
.Dropdown{
    background-color: #F1EAFB;
    margin-left: 75px;
    color: #17089B;
    border-radius: 10px;
    width: 300px;
}

.welcome_note{
    padding-left: 75px;
    padding-top: 50px;
    text-align: left;
    color: #17089B;
    font-weight: 400;
    text-shadow: 2px 2px #F1EAFB;
}
.create:hover{
    height: 50px;
    background-color: #46A4E8;
    color: #17089b;
}