label,
input,
a {
  font-family: inherit;
  text-decoration: none;
}
a {
  color: var(--color-blue-primary);
}

label {
  margin-top: 25px;
}

p {
  margin: 0px;
}

input {
  margin-top: 5px;
  max-width: 400px;
  height: 50px;
  padding: 15px;
  padding-left: 20px;
  border-radius: 40px;
  border: 1px solid var(--color-dark-light);
}

input:focus {
  outline: none;
  border: 1px solid var(--color-blue-primary);
}

nav {
  padding-left: 70px;
  padding-right: 70px;
}

.list-items {
  margin: 0;
  list-style: none;
}

.list-items > li > button {
  font-size: 20px;
  margin-right: 20px;
}

.signup-btn {
  background-color: var(--color-purple-primary);
  border-radius: 30px;
  font-weight: 500;
  color: white;
  width: 100%;
}

.signup-btn:hover {
  background-color: transparent;
  border: 1px solid var(--color-purple-primary);
  color: var(--color-purple-primary);
}
